<div class="title1">News </div> 
<% @news.each do |news| %>
<ul class="list">
 <li><span><%= news.title %></span>
  <ul>
    <li  class="description"><%= news.description %></li>
    <li  class="description"><%= news.date %> <%= link_to 'Show', news %></li>
  </ul>
 </li>                   
</ul>
<% end %>
<%= will_paginate @news %>
